*{
  margin  : 0 ;
  padding : 0 ;
}
.hero{
   height: 100vh;
   width: 100%;
   background-image: url(spacesky.jpg);
   background-size: cover;
   background-position: center;
   position: relative;
   overflow: hidden;
}
.wall{
  height: 200px;
  width: 500%;
  display: block;
  background-image: url(wall.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: wall 10s linear infinite;
}
@keyframes wall
{
  100%{
    transform: translate(-3400px);
  }
}
.stars{
  height: 700px;
  width:  500%;
  background-image: url(stars.png);
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: stars 40s linear infinite;

}
@keyframes stars
{
  100%{
    transform: translate(-800px);
  }
}
.robo{
  width:400 px;
  left: 50%;
  bottom:172px;
  transform:  translateX(-50%);
  position: absolute;
  z-index: 2;
}

.robo img{
  width: 100%;
  animation: robo 1s linear infinite;
  animation-play-state: paused;
}
.robo img:hover{
  animation-play-state: running;
}
@keyframes robo{
  100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(1px);
  }
  0%{
    transform: translateY(-1px);
  }
}
.weels{
  left: 49%;
  bottom:  225px;
  transform:  translateX(-50%);
  position: absolute;
  z-index: 2;
}

.backweel{
  left: -35px;
  position: absolute;
  width :72px;
  height:72px;
  animation: weels 1s linear infinite;
}
.frontweel{
  left: 10px;
  position: absolute;
  width :60px;
  height:60px;
  animation: weels 1s linear infinite;
}
@keyframes weels{
  100%{
    transform: rotate(360deg);
  }
}
